html {
    scroll-behavior: smooth;
  }
  *{
      margin: 0;
      padding: 0;
  }
  .logo{
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .logo img{
      width: 35%;
      border-radius: 25px;
  }
  .navbar-background {
      display: flex;
      align-items: center;
      justify-content: center;
      position:static;
      top: 0;
      cursor: pointer;
  }
  .nav-list{
      width: 80%;
      height: 50%;
      display: flex;
      align-items: center;
  }
  .nav-list li{
      list-style: none;
      padding: 26px 30px;
  }
  
  .nav-list li a{
  text-decoration: none;
  font-size: 25px;
  }
  
  .nav-list li a:hover{
      text-decoration: none;
  }    


.gif-image{
    border: 2px solid rgb(15, 15, 15);
    border-radius: 15px;
    margin-left:250px;
}

.gif-image:hover{
    transform: scale(1.25);
    transition: transform.5s;
}

.head{
    text-align:center;
    font-size:65px;
    animation-name: move;
    animation-duration: 2.3s;
}

@keyframes move {
    0%{
        transform: translateY(65vw);
    }
}


.footer{
    background-image: radial-gradient(rgb(253, 236, 239),rgb(252, 190, 226),rgb(255, 210, 152));
    display:grid;
  }
  
  .foot_div_content {
    display: flex;
    flex-direction: row;
  }
  .footer_content {
    font-size: 40px;
    margin-left:70px;
    text-decoration :none;
  }
  .column{
    display:block;
    flex-direction:column;
    margin-left:70px;
    text-decoration:none;
    color:grey;
  }
  .column:hover{
    color: black;
  }
  .footer_review{
    margin-left:242px;
    margin-top:-98px;
    border-radius: 5px;
  }
  .footer_newsletter{
    margin-left:470px;
    margin-top:-70px;
  }
  .footer_icon{
    margin-left:707px;
    margin-top:-93px;
  }
  .footer-btn{
    border-radius: 5px;
    background-color: transparent;
  }
  .footer-btn:hover{
    color: #555;
  }
  
  .iconss{
    display: flex;
  }
  .fa-brands{
    margin-left:7px;
  }
  .insta:hover{
    color: rgb(146, 9, 78);
  }
  
  .yt:hover{
    color: rgb(255, 15, 15);
  }
  
  .tw:hover{
    color: rgb(94, 182, 255);
  }
  
  .footer_lower{
    color:white;
    line-height: 17px;
    text-align:center;
    background-color:rgb(99, 27, 22);
    /* margin-bottom:-5px; */
  }